<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建商品</title>
    <link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/global/css/components.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/admin/pages/css/login.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/assets/global/plugins/jquery-1.11.0.min.js}" type="text/javascript"></script>
</head>
<body class="login">
    <div class="content">
        <h3 class="form-table">商品详情</h3>
        <div class="form-group">
            <div>
                <label id="title" class="control-label"></label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">商品价格</label>
            <div>
                <label id="price" class="control-label"></label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">商品销量</label>
            <div>
                <label id="sales" class="control-label"></label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">商品库存</label>
            <div>
                <label id="stock" class="control-label"></label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">商品描述</label>
            <div>
                <label id="description" class="control-label"></label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">商品图片</label>
            <div>
                <img style="width: 200px;height: auto" id="imgUrl"/>
            </div>
        </div>
        <div class="form-action">
            <button class="btn blue" type="submit" id="createorder">下单</button>
        </div>
    </div>  
</body>

<script>

    function getUrlParam() {

        var url = window.location.search;

        var urlArray = url.split("=");

        return urlArray[1];

    }

    jQuery(document).ready(function(){

        $("#createorder").on("click",function () {
            $.ajax({
                type:"Post",
                url:"/order/create",
                contentType:"application/x-www-form-urlencoded",
                data:{
                    "itemId":getUrlParam(),
                    "amount":1
                },
                success:function(data){
                    if(data.status == "success"){
                        alert("下单成功! " + "订单价格：" + data.data.orderPrice);

                    }else{
                        alert("下单失败，原因为" + data.data.errorMsg);
                        if (data.data.errorCode==20003){
                            window.location.href="/loginpage";
                        }
                    }
                },
                error:function(data){
                    alert("下单失败,原因为" + data.responseText);
                }
            })
        });

        $.ajax({
            type:"Get",
            url:"/item/get",
            data:{
                "id":getUrlParam()
            },
            success:function(data){
                if(data.status == "success"){

                    reloadDom(data.data);

                }else{
                    alert("查询失败，原因为" + data.data.errorMsg);
                }
            },
            error:function(data){
                alert("查询失败,原因为" + data.responseText);
            }
        });
    });

    function reloadDom(item) {
        $("#title").text(item.title);
        $("#price").text(item.price);
        $("#sales").text(item.sales);
        $("#stock").text(item.stock);
        $("#title").text(item.title);
        $("#description").text(item.description);
        $("#imgUrl").attr("src",item.imgUrl);
    }

</script>

</html>